/* ナビバー */
.navWrap{
    background-color: #CAB8D9;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}
.navWrap a{
    font-size: 24px;
    color: #FFF;
    text-decoration: none;
}
.navWrap a:last-child{
    margin-right: 8px;
}

.contentWrap{
    position: relative;
}
h1{
    font-size: 120px;
    font-weight: 400;
    text-align: right;
    line-height: 1.2;
    position: absolute;
    right: 80px;
    top: 200px;
}

h2{
    font-size: 80px;
    font-weight: 400;
    margin-left: 60px;
}
h3{
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}