/*作品詳細ページ全体*/
.workDetailPage{
    background-color: #f7f7f7;
    color: #333;
}
/*Backボタン*/
.backBtn{
    font-size: 32px;
    color: #333;
    margin-top: 24px;
    margin-left: 60px;
}
.workWrap{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.workWrap img{
    width: 560px;
    height: auto;
}
.workWrap .graphicWork{
    width:  400px;
}
.workWrap .bookmark {
    width: 180px;
}
.cardImgWrap{
    display: flex;
}
.workInformation h1{
    font-size: 56px;
    margin-top: 0;
    margin-bottom: 24px;
}
.catchPhrase{
    font-size: 32px;
    margin-bottom: 24px;
}
.season{
    font-size: 20px;
}
h2{
    font-size: 32px;
    margin-top: 8px;
}
.siteBtn{
    background-color: #CAB8D9;
    color: #FFF;
    font-size: 24px;
    width: 240px;
    height: 64px;
    margin-top: 32px;
}

/*作品説明*/
.workReviewWrap{
    max-width: 1200px;
    margin: 80px auto;
}
/*作品概要*/
.reviewMain{
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #fefefe;
    padding: 40px;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
}
.reviewMain .app{
    width: 320px;
    height: 400px;
    object-fit: contain
}
.reviewMain .webLarge{
    width: 560px;
    height: 320px;
}
.reviewCard .app{
    width: 240px;
    height: 320px;
    object-fit: contain;
}
.reviewCard .webSmall{
    width: 240px;
    height: 160px;
    object-fit: contain;
}
.reviewText p{
    font-size: 20px;
    margin: 0;
}
.reviewText p:first-of-type{
    margin-top: 24px;
}
.reviewText p+p{
    margin-top: 24px;
}
.reviewTitle{
    display: flex;
    align-items: baseline;
    gap: 16px;
}
.reviewTitle span{
    font-size: 32px;
    color: #CAB8D9;
    font-weight: bold;
}
.reviewTitle h3{
    font-size: 32px;
}

/*工夫した点*/
.reviewGrid{
    display: flex;
    gap: 24px;
    margin-top: 80px;
}
.reviewCard{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #fefefe;
    padding: 40px;
    border-radius: 16px;
    box-sizing: border-box;
    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
}
.reviewCard .reviewText{
    flex: 1;
}
.reviewCard video{
    width: 100%;
    max-width: 320px;
    height: auto;
    display: block;
}
.reviewCard h4{
    font-size: 24px;
    margin-top: 16px;
}
